@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Open+Sans:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.body-dashboard {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    border-right: solid 1px #D1D1D1;
    width: 30vw;
    padding: 2vw;
}

.small-a {
    font-family: Open Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 29.96px;
    margin-left: 2vw;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: block;
    text-decoration: none;
    color: black;
    padding: 1vw 0;
}

.big-a {
    font-family: Raleway;
    font-size: 38px;
    font-weight: 600;
    line-height: 44.61px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: block;
    text-decoration: none;
    color: black;
    padding: 1vw 0;
}

.big-a a:first-child {
    color: #1E90FF;
}

.main-content {
    width: 80vw;
    padding: 2vw 0 2vw 0;
}

.main-content h1 {
    padding-left: 1vw;
    font-family: Raleway;
    font-size: 64px;
    font-weight: 500;
    line-height: 75.14px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.hr2 {
    margin: 2vw 0 3vw 0;
    border-right: solid 1px #D1D1D1;
}

.form-accounts-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 2vw;
}

.form-accounts-group {
    display: flex;
    flex-direction: column;
}

.form-accounts-group label {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 600;
    line-height: 25.83px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 15px;
}

.form-accounts-group input {
    height: 57px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
    margin: 3vw;
}

.card {
    padding: 2vw;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h3 {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 600;
    line-height: 25.83px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.card img {
    width: 50px;
    height: 50px;
    margin-bottom: 1vw;
}

.recent-campaigns {
    margin: 2vw;
}

.recent-campaigns h2 {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 600;
    line-height: 25.83px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1vw;
    background: #D9D9D9;
}

table,
th,
td {
    border: 1px solid #D9D9D9;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.44px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

th,
td {
    padding: 1vw;
    text-align: left;
}

.Dashboard-contain {
    display: flex;
    background: #ffffff;
}

.hr1 {
    margin: 9vw 0 3vw 0;
    border-right: solid 1px #D1D1D1;
}

@media (max-width: 1024px) {
    .main-content h1 {
        font-size: 38px;
        font-weight: 500;
        line-height: 56.35px;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .big-a {
        font-size: 22px;
        font-weight: 600;
        line-height: 32.87px;
    }

    .small-a {
        font-size: 18px;
        font-weight: 400;
        line-height: 24.51px;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 30vw;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .big-a {
        font-size: 28px;
        font-weight: 600;
        line-height: 29.83px;
    }

    .small-a {
        font-size: 12px;
        font-weight: 400;
        line-height: 16.34px;
    }

    .form-accounts-container {
        grid-template-columns: repeat(1, 2fr);
    }

    .main-content {
        width: 70vw;
    }
}

@media (max-width: 480px) {
    .recent-campaigns h2 {
        display: none;
    }

    .main-content h1 {
        display: none;
    }

    .hr1 {
        display: none;
    }

    .hr2 {
        display: none;
    }

    table {
        display: none;
    }

    .big-a {
        font-size: 19px;
    }

    .sidebar {
        width: 40vw;
    }

    .main-content {
        width: 60vw;
    }

    .card {
        margin-bottom: 5vw;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}
